@media (max-width:1000px){
    html{
        font-size: 55%;;
    }
}
@media (max-width:870px){
    html{
        font-size: 50%;;
    }
}
@media (max-width:780px){
  
  .header{
    font-size:2rem;
  }
  .header .navbar{
    position:absolute;
    top:120%;
    right:-123rem;
    width:26rem;
    border:1px solid;
    border-radius:1rem;
    background-color: #fff;;
  }
  .header .navbar.activ{
    right:3rem;
    transition:.6s ease-in-out;
  }
  .header .navbar a{
    font-size:2rem;
    display:block;
    margin:2rem auto;
    text-align:center;
  }
  .header .navbar a:hover{
    background-color: var(--green);
    color:#fff;
  }
  #menu-btn{
    display:inline-block;
  }
  #home{
    padding:17rem 2rem;
  }
  .heading {
    font-size:3rem;
  }
}
@media (max-width:450px){
  .search-form{
    width:90%;
  }
  .heading {
    font-size:2.5rem;
  }
  .header{
    border-bottom: 2px solid var(--black);
  }
  #home{
    background-size:cover;
    background-position:center;
  }
  .footer .box-container .box a
{
    font-size:1.9rem;
  }
  .footer .box-container .box .right-icons{
    padding:.6rem .5rem;
}
  
}